affinegap==1.12
BTrees==4.10.0
categorical-distance==1.9
certifi==2022.5.18
cffi==1.15.0
charset-normalizer==2.0.12
datetime-distance==0.1.3
dedupe==2.0.14
dedupe-hcluster==0.3.9
dedupe-variable-datetime==0.1.5
DoubleMetaphone==1.1
fastcluster==1.2.6
filelock==3.7.0
future==0.18.2
gensim==3.8.0
haversine==2.5.1
highered==0.2.1
huggingface-hub==0.6.0
idna==3.3
joblib==1.1.0
Levenshtein-search==1.4.5
nltk==3.4.5
numpy==1.22.3
packaging==21.3
persistent==4.9.0
Pillow==9.1.1
pycparser==2.21
pyhacrf-datamade==0.2.6
PyLBFGS==0.2.0.14
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==6.0
rapidfuzz==0.10.0
regex==2022.4.24
requests==2.27.1
rlr==2.4.6
scikit-learn==1.1.0
scipy==1.8.1
sentence-transformers==2.2.0
sentencepiece==0.1.96
simplecosine==1.2
six==1.16.0
smart-open==6.0.0
threadpoolctl==3.1.0
tokenizers==0.12.1
torch==1.11.0
torchvision==0.12.0
tqdm==4.64.0
transformers==4.19.2
typing_extensions==4.2.0
urllib3==1.26.9
zope.index==5.2.0
zope.interface==5.4.0
